<div class="flex justify-center mt-[85px] w-full bg-[#FAF3EA]">
    <div class="flex w-[93%] justify-between py-[100px]">
        <div class="flex gap-[10px] items-center">
            <div>
                <img src="assets/image/trophy 1.svg" alt="">
            </div>
            <div class="flex flex-col ">
                <h1 class="text-[#000]  text-[25px] font-semibold leading-[150%]" >High Quality</h1>
                <span class="text-898989]  text-[20px] font-medium leading-[150%]">Crafted from top materials</span>
            </div>
        </div>
        <div class="flex gap-[10px] items-center">
            <div>
                <img src="assets/image/guarantee.svg" alt="">
            </div>
            <div>
                <h1 class="text-[#000]  text-[25px] font-semibold leading-[150%]" >Warranty Protection</h1>
                <span class="text-[#898989]  text-[20px] font-medium leading-[150%]">Over 2 years</span>
            </div>
        </div>
        <div class="flex gap-[10px] items-center">
            <div>
                <img src="assets/image/shipping.svg" alt="">
            </div>
            <div>
                <h1 class="text-[#000]  text-[25px] font-semibold leading-[150%]" >Free Shipping</h1>
                <span class="text-[#898989]  text-[20px] font-medium leading-[150%]">Order over 150 $</span>
            </div>
        </div>
        <div class="flex gap-[10px] items-center">
            <div>
                <img src="assets/image/customer-support.svg" alt="">
            </div>
            <div>
                <h1 class="text-[#000]  text-[25px] font-semibold leading-[150%]" >24 / 7 Support</h1>
                <span class="text-[#898989]  text-[20px] font-medium leading-[150%]">Dedicated support</span>
            </div>
        </div>
    </div>
</div>