<footer class="flex flex-col items-center border-t-2 border-[#D0D4CA]">
    <div class="flex justify-around mt-12  w-[95%]">
        <div>
            <h1 class="text-[#000] text-[24px] font-bold">Furniro.</h1>
            <div class="mt-[50px]">
                <span class="text-[#9f9f9f] font-medium ">
                    400 University Drive Suite 200 Coral<br> Gables,<br>
                    FL 33134 USA
                </span>
            </div>
        </div>
        <div>
            <ul>
                <li><a href="" class="text-[#9f9f9f] font-medium ">Link</a></li>
                <div class="mt-[50px] space-y-11">
                    <li><a href="" class="text-[#000] font-medium ">Home</a></li>
                    <li><a href="" class="text-[#000] font-medium ">Shop</a></li>
                    <li><a href="" class="text-[#000] font-medium ">Contact</a></li>
                    <li><a href="" class="text-[#000] font-medium ">About</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="" class="text-[#9f9f9f] font-medium ">Help</a></li>
                <div class="mt-[50px] space-y-11">
                    <li><a href="" class="text-[#000] font-medium ">Payment Options</a></li>
                    <li><a href="" class="text-[#000] font-medium ">Returns</a></li>
                    <li><a href="" class="text-[#000] font-medium ">Privacy Policies</a></li>

                </div>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="" class="text-[#9f9f9f] font-medium ">Newsletter</a></li>
                <div class="mt-[50px] flex">
                    <li><a href=""
                            class="text-[#9f9f9f] font-medium border-b-2 border-[#000] pr-[27px] mr-[10px]">Enter
                            Your Email Address</a></li>
                    <li><a href=""
                            class="text-[#000] font-medium border-b-2 border-[#000] ">SUBSCRIBE</a></li>
                </div>


            </ul>
        </div>

    </div>
    <div class="flex justify-start  mt-[48px] w-[90%] border-t-2 border-[#D0D4CA] ">
        <div class=" py-[35px]">
            <p class="">2023 furino. All rights reverved</p>
        </div>
    </div>
</footer>