<nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical">
    <div class="flex flex-col justify-center items-center w-full ">
        <a class="flex justify-center py-5 cursor-pointer ">
            <h1 class="text-[48px] font-bold">ADMIN</h1>
        </a>



        <a
            class="flex justify-between items-center w-full mt-[30px] cursor-pointer  hover:bg-slate-300 hover:shadow-lg hover:border-transparent rounded-lg px-5 py-[12px]">

            <h2 class="mx-0 my-auto float-left" routerLink="/admin">Dashboard</h2>
        </a>

        <a
            class="flex justify-between items-center gap-5 w-full mt-[30px] cursor-pointer  hover:bg-slate-300 hover:shadow-lg hover:border-transparent px-5 py-[12px] rounded-lg">

            <a href="" routerLink="/product">
                <h2 class="pr-5">Product</h2>
            </a>
        </a>
        <a
            class="flex justify-between items-center gap-5 w-full mt-[30px] cursor-pointer hover:bg-slate-300 hover:shadow-lg hover:border-transparent px-5 py-[12px] rounded-lg ">

            <h2 class="pr-4" routerLink="/category">Category</h2>
        </a>
        <a
            class="flex justify-between items-center gap-5 w-full mt-[30px] cursor-pointer hover:bg-slate-300 hover:shadow-lg hover:border-transparent px-5 py-[12px] rounded-lg ">

            <h2 class="pr-4" routerLink="/historyAdmin">History</h2>
        </a>


        <!-- Toggler -->

        <!-- Brand -->


    </div>
</nav>