<div class="py-[55px]">
    <div class="flex flex-col items-center">
        <h2 class="text-[32px] font-[Poppins] font-bold text-[#333]">Types Of Furniture</h2>
        <span class="text-[20px] font-[Poppins] font-normal text-[#666] pb-[62px]">We have many products suitable for all
            ages</span>
    </div>
    <div class="flex gap gap-5 justify-center">
        <div class="flex flex-col items-center ">
            <img src="assets/image/image 106.png" alt="">
            <span class="text-[#333] text-[24px] font-semibold font-[Poppins] mt-4">Dining</span>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/image/image 100.png" alt="">
            <span class="text-[#333] text-[24px] font-semibold font-[Poppins] mt-4">Living</span>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/image/image 101.png" alt="">
            <span class="text-[#333] text-[24px] font-semibold font-[Poppins] mt-4">Bedroom</span>
        </div>
    </div>
</div>