<div class="">
    <!-- <div class="max-w-full relative ">
        <img src="assets/image/Rectangle 1.png" alt="" class="w-full">
        <h1
            class="text-[#000] font-[Poppins] text-5xl font-medium absolute top-[35%] left-[50%] transform -translate-x-1/2 ">
            Shop</h1>
        <div class="flex items-center absolute top-[52%] left-[50%] transform -translate-x-1/2 ">
            <span class="text-[18px] font-medium">Home</span>
            <span class="text-[18ppx] px-1">></span>
            <span class="text-[18px]">Shop</span>
        </div>
    </div> -->
    <app-category></app-category>
</div>