<div class="w-full relative">
    <img src="assets/image/banner.png" alt="" class="w-full">
    <div class="w-[642px] h-[443px] rounded-[10px] flex-shrink-0 bg-[#FFF3E3] absolute top-[21%] right-[5%]">
        <div class="pl-[41px] pr-[43px] pt-[62px]">
            <span class="text-[#333] font-[Poppins] font-semibold tracking-[3px]  pb-[4px]">New Arrival</span>
            <h1 class="text-[#B88E2F] font-[Poppins] text-[52px] font-bold leading-[65px]">Discover Our New Collection</h1>
            <span class="text-[#333] font-[Poppins] font-medium text-lg ">Brings a pleasant feeling to people who use our
                products</span>
            <button class="inline-flex px-[72px] py-[25px] bg-[#B88E2F] items-start gap-3 uppercase font-semibold fotn-[Poppins] mt-[46px]">Buy now</button>
        </div>
    
    </div>
</div>
