<div class=" border-t-2 border-[#D9D9D9] w-full pb-[60px]">
    <div class="flex flex-col items-center ">
        <div class="flex items-center gap-[53px] mt-[48px] mb-9">
            <h2 class="text-[#000] font-[Poppins] text-2xl font-medium">Description</h2>
            <h2 class="text-[#9F9F9F] font-[Poppins] text-2xl font-medium">Additional Information</h2>
            <h2 class="text-[#9F9F9F] font-[Poppins] text-2xl font-medium">Reviews [5]</h2>
        </div>
        <div class="w-[72%] text-[#9F9F9F]  font-normal">
            <p>Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker takes the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the road.</p>
        </div>
        <div class="w-[72%] text-[#9F9F9F] font-normal mt-[30px] mb-9">
            <p>Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and stylish travel.</p>
        </div>
        <!-- <div class="flex gap-8">
            <div class="bg-[#F9F1E7] rounded-[10px]">
                <img src="assets/image/Cloud sofa three seater + ottoman_2 1.png" alt="">
            </div>
            <div class="bg-[#F9F1E7] rounded-[10px]">
                <img src="assets/image/Cloud sofa three seater + ottoman_2 1.png" alt="">
            </div>
        </div> -->
    </div>
</div>